body{font-family:Calibri;
}

*{
    margin: 5px;

}

#logo{
    height: 85px;
    width: 85px;
    float: left;
}

#nom_emp{
    padding-top: 5px;
    float: left;
    margin-top: 10px;

}

.inicio{
    background-color: brown;
    height: 75px;
    text-align: right;

}

.navbar-toggler { 
margin-left: auto;
}

nav ul li{
    display: inline;
}
nav ul{
    padding-top: 15px;
    float: left;
}


#Iframe{
    border: 2px solid black;
    height: 420px;
    width: 100%;
    text-align:center;
    align-content: center;
}

footer{
    border: 2px solid black;
    text-align: center;
}


#nombrepagina{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}