body{font-family:Calibri;
    background-color: burlywood;
}


#navsup{
    width: 96%;
    margin: auto;
    background-color: burlywood;
}



#logo{
    height: 85px;
    width: 85px;
    float: left;
}

#nom_emp{
    float: left;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;

}
.carousel{
    width: 96%;
    margin: auto;

}

.carousel .carousel-item {
    height: 200px;
  }

.carousel-item img {
    position: absolute;
    object-fit:fill;
    top: 0;
    left: 0;
    height: 200px;
}


#acerca-de{
    width: 96%;
    margin: auto;
    margin-top: 10px;
    background-color: chocolate;
}


.noticia{
    background-color: brown;
    width: 96%;
    margin: auto;
    margin-top: 10px;

}

.not-img{
    border: 2px solid;
}

.not-txt{
    border: 2px solid;
    height: 204px;
}

#img-4{
    height: 200px;
    width: 200px;
}

#datos{
    background-color: burlywood;
    margin: auto;
    text-align: center;
}

#foto{  
    margin: auto;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.footer{
    width: 96%;
    margin: auto;
    border: 2px solid black;
    text-align: center;
}

#navsuplog{
    width: 96%;
    margin: auto;
    background-color: burlywood;
}

#log-box{
    width: 85%;
    margin: auto;
    border: 2px solid;
    text-align: left;
}

#ini_ses{
    text-align: center;
    padding-bottom: 70px;
}

#inputs{
    width: 85%;
    margin: auto;
    font-weight: bold;
}

#InputEmail{
    position: relative;
    margin: auto;
    border: 2px solid black;

}
#InputPassword{
    position: relative;
    margin: auto;
    border: 2px solid black;
}

#btn-logbox{
    text-align: center;
}

#btn-log{
    color: black;       
    border: 2px solid black;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
    background-color: silver;

}